@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .title {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
  }

  .lobster-logo {
    width: 171px;
    height: 180px;
  }
  
  .photo-profil{
    border-radius: 30px;
  }